body {
	margin: 0px;
}

.div1 {
	background-color: red;
	width: 99%;
	height: 100px;
}

.div2 {
	background-color: blue;
	height: 800px;
	width: 33%;
	float: left;
}

.div3 {
	background-color: purple;
	height: 800px;
	width: 33%;
	float: left;
}

.div4 {
	background-color: yellow;
	height: 800px;
	width: 33%;
	float: left;
}

.div5 {
	background-color: green;
	width: 99%;
	height: 100px;
	clear: both;
}